<div class="contents row">
  <div class="container">
       <br>
       <br>
        料理名
      </div>
      <%= text_field :name, class:"memos-text", placeholder:"料理名（必須 40文字まで)", maxlength:"40" %>
      <div class="memos-explain">
        <div class="weight-bold-text">
        <br>
          メモ
        </div>
        <%= text_field :description, class:"memos-text", placeholder:"メモ自由（必須 1,000文字まで）" ,maxlength:"1000" %>
      </div>
    </div>

  </div>
</div>