<div class="contents row">
  <% @memos.each do |memo| %>
    <div class="content_post" style="background-image: url(<%= memo.image %>);">
      <p><%= memo.text %></p>
      <span class="name">
        <%= memo.name %>
      </span>
    </div>
  <% end %>
</div>